<div class="form-container">
        <h2>Formulário de Inscrição - Programa Jovem Aprendiz</h2>
        <form action="processar.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="telephone">Nome:</label>
                <input type="number" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="telephone">RG:</label>
                <input type="number" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="telephone">Orgão expedidor:</label>
                <input type="number" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="telephone">CPF:</label>
                <input type="number" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="telephone">Data nascimento:</label>
                <input type="number" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="telephone">Sexo:</label>
                <input type="number" id="telephone" name="telephone" required>
            </div>
            
            <div class="form-group">
                <label for="telephone">Localidade/Curso:</label>
                <input type="number" id="telephone" name="telephone" required>
            </div>
            <div class="form-group">
                <label for="telephone">Concorrer a vagas reservadas para jovens e adolescentes em situação de acolhimento institucional?</label>
            </div>

       </form>
 </div>