body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}

.form-container {
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-file-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .input-file-container input[type="file"] {
        font-size: 14px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    .input-file-container .btn-choose-file {
        display: inline-block;
        padding: 10px 20px;
        background-color: #003366;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .input-file-container .btn-choose-file:hover {
            background-color: #002244;
        }

    .input-file-container .selected-file {
        display: inline-block;
        margin-left: 10px;
        color: #333;
    }


.divFiles, 
.criterios, 
.infoFiles {
    border-top: 1px solid gray;
    padding-top: 2rem;
}